{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load allauth %}
{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
          {% if token_fail %}
            {% trans "Bad Token" %}
          {% else %}
            {% trans "Change Password" %}
          {% endif %}
        </h1>
        {% if token_fail %}
          <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
            {% url 'account_reset_password' as passwd_reset_url %}
            {% blocktrans %}
              The password reset link was invalid, possibly because it has already been used. Please request a 
              <a href="{{ passwd_reset_url }}" class="text-blue-500 underline hover:text-blue-700">new password reset</a>.
            {% endblocktrans %}
          </div>
        {% else %}
          <form method="post" action="{{ action_url }}" class="space-y-4 md:space-y-6">
            {% csrf_token %}
            {{ redirect_field }}
            {% for field in form.visible_fields %}
              <div>
                <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">
                  {{ field.label }}
                </label>
                {{ field|add_class:"w-full p-2.5 border border-gray-300 rounded-md shadow-sm focus:ring-2 focus:ring-primary-500" }}
                {% if field.errors %}
                  <div class="text-sm text-red-600">
                    {% for error in field.errors %}
                      <p>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <button type="submit" class="w-full text-white bg-gray-900 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              {% trans 'Change Password' %}
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}
