{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
        <div class="text-center mb-6">
            {% element h1 class="text-3xl font-bold text-gray-800" %}
                {% trans "Password Reset" %}
            {% endelement %}
        </div>

        {% if user.is_authenticated %}
            <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4">
                <strong class="font-semibold">{% trans "You are already logged in" %}</strong>
                <p class="text-sm">{% include "account/snippets/already_logged-in.html" %}</p>
            </div>
        {% endif %}

        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4">
            {% element p %}
                {% blocktrans %}
                    We have sent you an email. If you have not received it, please check your spam folder. Otherwise, contact us if you do not receive it in a few minutes.
                {% endblocktrans %}
            {% endelement %}
        </div>

    </div>
{% endblock content %}
