{% load i18n %}
<div>
  {% if messages %}
  <div class="messages-container">
    {% for message in messages %}
      <div class="message-item {% if message.tags == 'success' %}bg-green-100 border-l-4 border-green-500 text-green-700{% elif message.tags == 'error' %}bg-red-100 border-l-4 border-red-500 text-red-700{% else %}bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700{% endif %} p-4 mb-4">
        <strong class="font-semibold">{% trans "Message:" %}</strong>
        <p class="text-sm">{{ message }}</p>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    setTimeout(function() {
      const messageContainers = document.querySelectorAll('.messages-container .message-item');
      messageContainers.forEach(function(item) {
        item.style.display = 'none';
      });
    }, 2000);
  });
</script>
